<link rel="stylesheet" href="stylesheets/orderSuccess.css">
<div class="container">
    <span class="heading">
        <h1>Order Placed Successfully, Thank You.</h1>
    </span>
    <span><a href="/orders" class="btn btn-outline-primary rounded-0">View Orders</a></span>
</div>