.form-group {
  margin-top: 1rem;
}
.form-control {
  text-align: center;
  padding: 1px;
  box-shadow: 1.5px 5px #212529;
  outline: none;
 
}
.loginText {
  margin-top: 10rem;
  color: rgb(90, 88, 88);
}
.error {
  margin-top: 0;
  color: red;
}






